<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(todo, index) in todos">
            {{ todo }}
            <button v-on:click="removeTodo(index)">remove</button>
        </li>
    </ul>
    <input v-model="todo" v-on:keyup.enter="addTodo"/>
</div>
</body>
<script>
    var app = new Vue({
        el     : '#app',
        data   : {
            todo : '',
            todos: [
                "a",
                "a",
                "a",
                "a",
                "a",
                "a",
                "a"
            ]
        },
        methods: {
            addTodo   : function () {
                this.todos.push(this.todo);
                this.todo = ''
            },
            removeTodo: function (index) {
                this.todos.splice(index, 1);
            }
        }
    })
</script>
</html>
